<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/bootstrap.min.css?version=7" />
		<link rel="stylesheet" href="/css/lightbox.css?version=7" />
		<link rel="stylesheet" href="/css/style.css?version=7" />
		<title>{{title}} | Reflief Life Map</title>

		<meta name="description" value="{{description}}" />
		<meta name="keywords" value="{% if keywords %}, {{keywords}}{% endif %} " />
		<meta name="author" value="{% if author %}{{author}}{% else %}Reflief Life Map{% endif %} " />

		{% block head %}{% endblock %}
		{% block styles %}{% endblock %}
	</head>
	<body>

		{% block base_content %}No Content on this Page!{% endblock %}
		
		<script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/prettify.min.js"></script>
		<script type="text/javascript">window.prettyPrint && prettyPrint()</script>
		{% block scripts %}{% endblock %}
		{% block base_scripts %}{% endblock %}
	</body>
</html>
