{% extends "base.html" %}

{% block scripts %}

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
<script type="text/javascript"
      src="/js/homepage.js">
    </script>

{% endblock %}

{% block base_content %}


	<div class="overlay" style="display:none;opacity:0.25;"></div>

	<div class="page-sections">

		<div class="row">

			<div class="col-md-6" style="position:relative;">

				<div id="map-canvas"></div>

			</div>

			<div class="col-md-6">

				<div id="map-info-block">

					
					<div id="map-info-block-inner">

						<div id="map-info-block-inner-header">

							<div style="margin: 15px;">

								<img src="http://relieflife.org/images/structure/logo.jpg" style="height:46px;" />

							</div>

						</div>

						<div id="events-view" class="events-hide">

							<h1 style="margin: 15px;">Event Details</h1>

						</div>

						<div id="events-loading" class="events-hide">

							<center>
								<img src="http://relieflife.org/images/structure/logo.jpg" style="margin-top: 150px;" />
								<h3>Loading disasters</h3>
							</center>

						</div>

						<div id="events-listing" style="display:none;" class="events-hide">
						</div>

						<div id="events-none" style="display:none;" class="events-hide">
							<center>
								<img src="http://relieflife.org/images/structure/logo.jpg" style="margin-top: 150px;" />
								<h3>No disasters, happy day</h3>
							</center>
						</div>
					
					</div>

			</div>

			</div>

		</div>

	</div>


{% endblock %}
