html {
	
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;


	font-family: 'WebServeroffRegular', Sans-Serif;
	color: #7d7d7d;
}

h1, h2, h3, h4, h5, h6 {

	font-family: 'WebServeroffRegular', Sans-Serif;
	color: #7d7d7d;

}

body { margin: 0; padding: 0; }
#map-canvas { height: 100% }


#map-canvas {

	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;


}

#map-info-block {

	position: fixed;
	right: 50px;
	top: 50px;
	bottom: 50px;
	width: 40%;
	background-color: #a60d10;

	z-index: 30;

}

#map-info-block-inner {

	background-color: #fdfdfd;
	border: 3px solid #ce202e;
	margin: 1px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow-y: scroll;
	overflow-x: hidden;

}

#map-info-block-inner-header {

	

}

.event-list-block {

	border: 1px solid #ececec;
	display: block;
	text-decoration: none;

	width: 100%;

}

.event-list-block > h4 {

	margin: 10px 15px;
	margin-bottom: 5px;

}

.event-list-block:hover {

	text-decoration: none;
	background-color: whitesmoke;

}

.event-list-block {

	

}

.overlay {

	background-color: darkgrey;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.reach {

	margin: 0 15px;
	margin-bottom: 20px;

	color: #666;
	font-weight: bold;

}

.reach img {

	display: inline-block;
	margin-right: 4px;
	height: 32px;

}

.reach h6 {

	
	display: inline-block;

}